/.idea
/.vscode
*.iml
*.pyc
*.pyc.*
*.bak
*.old
*.orig
docs/_build
docs/sensai
dist
*.egg-info*
/temp
/temp*.py
/default_console.py
/build
/git-split.sh
/.pytest_cache
data
.coverage
/*.env
/docs-build
*.code-workspace
/TODO.txt
/docs/build
